<div>
    <form id="custom-checkout-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        
            <div style="display:none;" class='address_area'>
                <label>Select Address</label>
                <select id="selectAddress" data-bind="event:{ change: permissionChanged}" class="action">
                
                </select>
            </div>
        <!--<button type="reset">-->
        <!--    <span data-bind="i18n: 'Reset'"></span>-->
        <!--</button>-->
        <!--<button type="button" data-bind="click: onSubmit" class="action">-->
        <!--    <span data-bind="i18n: 'Submit'"></span>-->
        <!--</button>-->
    </form>
</div>
